/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Proxima Nova, Helvetica, Arial, sans-serif;
    text-decoration: none;
    
    
   
}

body{
    min-height: 100vh;
    
        background-image: url('../pics/injera.JPG') ;
   
  
}

.header{
    /* position: fixed; */
    top: 0;
    left: 0; right: 0;
    width: 100vw;
    padding: 1rem 0.6rem;
    padding-left: 0rem;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  
    
}
.header .logo{
    grid-column: 1/2;
}

.header .logo a img{
    /* position: top left fixed; */
   
    width: calc(0.2 * 100vw );

} 
.navigation {
    grid-column: 2/3;
    /* display: flex; */
    margin-left: auto;
    margin-right: 0;

}
.navigation ul{
     list-style: none;
     
     
}
.navigation ul li{
    position: relative;
    float: left;
    padding-right: 0;
    font-weight:bolder;
    font-size: 1.4rem;
}

.navigation ul li a{
    font-size: calc(100% * 16px);
    padding: 1.3rem;
    color: white;
    display: block;

}
.navigation ul li a:hover{
    color: #ffc107;
}
.navigation ul li#normal a::after{
    content: '';
    
    width: 0;
    height: 0.5rem;
    background: #FFA500;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    top: 3.2rem;
    transition: 0.5s ease-out;
}
.navigation ul li#normal a:hover::after{
    width: 70%;
    box-shadow: 0 0 5px orange,
            0 0 0 orange,
            0 0 0 orange,
            0 0 0 orange;
    border-radius: 5rem;
}
.navigation ul li#separator{
    font-weight: lighter;
}
span[class^="material"]{
    color: #FFA500;
    vertical-align: top;
    line-height: 1.1;
    padding-right: 0.2rem ;
}
.account span{
    vertical-align: top;
    line-height: 0.4;
    color: white;
}

/* Login */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 7px 0;
    position: relative;
  }
  
  img.avatar {
    width: 10%;
    height: 20%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
/* /Login */



.account{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 0.4;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
    background-color: #FFA500;
    display: block;
}
/* #signup a{
    line-height: 5rem;
}
#signup a, .signin{
    font-size: 1rem;
   
    padding: 0rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
    background-color: #FFA500;
    display: block;
} */
#dropdown{
    display: none;
}


.main_box{
    display: grid;
    /* padding: 2rem 5rem; */
    margin: 0 0;
    grid-template-columns: 50% 50%;
    gap: 5px;
    position: default;
    
    /* height: 100vh; */
}
.main_box .floatingimg{
    padding: 0rem 5rem;
    margin-top: calc(0.04* 100vh);
    grid-column: 1/2;
    text-align: center;
    /* margin-top: calc(0.15 * 100vh); */
    margin-top: auto;
    margin-bottom: auto;
    
}
.main_box .floatingimg img#pl{
    padding-top: 5rem;
    padding-right: 0;
    width: 80%;
    min-width: 290px;
    max-width: 500px;
    animation: floatingMotion 3s ease-in-out infinite;
}

.main_box .text{
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */

}
@keyframes floatingMotion {
    0%,
    100% {
       
        transform: translateY(0,0);
        /* transform: translateX(0); */
    }
    50% {
        transform: translateY(-0.4rem);
        /* transform: translateX(-0.5rem); */
    }
}

.main_box .text{
    padding-right: 15% ;
    margin-top: calc(0.15 * 100vh);
    padding-top: calc(0.07 * 100vh);
    margin-top: auto;
    margin-bottom: auto;
    /* line-height: calc(0.05* 100vh);  */
    grid-column: 2/3;
    font-size: 2rem ;
    
    
}

.text> h1{
    color: white;
}
.text > h3{
    color:white;
}
.text > h5{
    font-weight:400;
    color: silver;
}
 span#orange{
    color: #FFA500;
 }
.button-start span {
    color: white;
}
.button-start{
    border: none;
    outline: none;
    height: 2rem;
    width: 10rem;
    background-color: #FFA500;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    color: white;
    transition: 0.3s ease;
}

.button-start:hover{
    cursor: pointer;
    transform: scale(1.1);
        background-color: orange;
        transition: 0.3s;
        box-shadow: 0 0 5px orange,
            0 0 5px orange,
            0 0 5px orange,
            0 0 5px orange;
}


  #dropcheckbox{
      font-size: 2rem;
      background-color: red ;
      float: right;
      line-height: 5rem;
      margin-right: 1rem;
      display: none;
      
  }
  #dropcheckbox_label{
    display: none;
  }

@media(max-width: 800px){

    .header .logo a img{
        width: 7.5rem;
    }
    .navigation ul{
        position: fixed;
        border-radius: 1rem;
        width: 100%;
        box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
        height: 16rem;
        background-color: #00000023;
        backdrop-filter: blur(6px);
       
        
        margin-top: 2rem;
        left: -100%;
        text-align: center;
        display: block;
        transition:  all 0.5s ease-in-out;    
    }
    button.account{
        background-color: transparent;
        color: black;
        font-weight: bold;
        font-size: 1.4rem;
    }
    span[class^="material"] {
        color: #FFA500;
        vertical-align: top;
        line-height: 0.7;
        padding-right: 0.2rem;
    }
    .navigation ul li{
        display: block;
        float: none;
    }
    .navigation #separator{
        display: none;

    }
    .navigation ul li a{
        display: inline-block;
        /* font-weight: bolder; */
    }
    .navigation ul li a span{
           color: #FFA500;
    }
    .navigation ul li a:hover, .navigation ul li a:active{
        color: black;
    }
    .signup, .signup{
        color: white;
     }
   
   #dropcheckbox_label{
    font-size: 1rem;
    font-weight: bolder;
    display: block;
   }
    #dropcheckbox:checked ~ ul{
        left: 0;
    }
    
    .main_box {
        display: grid;
        /* padding: 2rem 5rem; */
        margin: 0 0;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        gap: 5px;
        position: default;
        /* height: 100vh; */
    }

    .main_box .floatingimg {
        padding: 0rem 5rem;
        padding-top: 0;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        /* background-color: aqua; */
        display: flex;

        margin-top: 0;
        margin-bottom: 0;
    }
    
    .main_box .floatingimg img#pl {
        padding-top: 10%;
        flex-grow: 0.5;
        align-self:center ;
        padding-right: auto;
        padding-left: auto;
        margin: 0 auto;
        width: 25%;
        min-width: 115px;

    }

    .main_box .text {
        padding-right: 0;
        padding: 0 2rem;
        padding-top: calc(0.02* 100vh);
        /* line-height: calc(0.05* 100vh);  */
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        font-size: calc(0.04 * 100vw);
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        margin-top: 0;
        margin-bottom: 0;
        
        
    }
    button.button-start{
        font-size: calc(0.03 * 100vw);
        padding: 1.5% 0;
        
        height: 6vw;
        width: 50%;

    }
    
    button.button-start span{
        display: none;
        overflow: auto;

    }
        div.aboutus_pic img {
            min-width: 250px;
        }
        div.aboutus {
            margin-top: 10%;
            padding-top: 5%;
        }
       
                footer .content .link-boxes {
                    flex-wrap: wrap;
                }
        
                footer .content .link-boxes .input-box {
                    width: 40%;
                    margin-top: 10px;
                }
        
}
@media(max-width: 500px){
    .aboutus_pic img {
           display: none;
        }
        div.aboutus{
           display: block;
           padding-right:  0;
           padding-bottom: 10%;
           background-color: #FFA500   ;
           /* margin: 0 10%; */
           min-height: 20vh ;
           max-height: 100vh ;
           text-align: center;
        }
        div.aboutus_text{
            padding: 0 10%;
        } 
                  footer::before {
                      top: 145px;
                  }
        
                  footer .content .top {
                      flex-direction: column;
                  }
        
                  .content .top .media-icons {
                      margin-top: 16px;
                  }
        
                  footer .content .link-boxes .box {
                      width: calc(100% / 2 - 10px);
                  }
        
                  footer .content .link-boxes .input-box {
                      width: 100%;
                  }
     
}
    
   


.aboutus{
    margin-top: 5%;
    padding-top: 5%;
    display: grid;
    padding-bottom: 5%;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
    background-color: #FFA500;
    grid-template-columns: 50% 50%;
}
.aboutus_pic{
    overflow: hidden;
    text-align: center;
    position: relative;
    
}
.aboutus_pic img{

    width: 80%;
    min-width: 290px;
    max-width: 500px;
    
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    
    border-radius: 3rem; 
    
    
}
.aboutus_text{
    
      padding-right: 15%;
      color: black;
    overflow:hidden;      
 }
    .aboutus_text h1{
        font-size: calc(1rem + 1.5vw);
       
    }
    .aboutus_text p{
        font-size: min(calc(100vw/30), 1.5rem);
        line-height: 150%;
    
    /* font-size: 2rem; */
}



.grid_gallery{
    display: grid;
    padding: 0 7%;
    padding-bottom: 10%;
    gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
}
.exploretitle{
    color: white;
    grid-row: 1/2 ;
    padding: 5% 0;
    font-size: 2rem;
    grid-column: 1/4;
    text-align: center;
    font-size: calc(1rem + 1.5vw);
}
.exploretitle h3{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
 
    font-size: calc(1rem + 1.5vw);
}
.gridone{
    grid-row: 2/3 ;
    grid-column: 1/2;
    background-color: #fff3dd;
    padding: 0 5%;
    border-radius: 1rem;
}
.gridtwo{
    grid-row: 2/3 ;
    grid-column: 2/3;
    padding: 0 5%;
    background-color: #fff3dd;
    border-radius: 1rem;
}

.gridthree{
    grid-row: 2/3 ;
    grid-column: 3/4;
    padding: 0 5%;
    background-color: #fff3dd;
    border-radius: 1rem;

}
.gridone img, .gridtwo img, .gridthree img{
    width: 100%;
    
    margin: 1rem 0;
}


.gridone:hover, .gridtwo:hover, .gridthree:hover{
    transform: translateY(-0.5%);
    background-color: #ffdd9d;
    
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
}
#gridtitle{
    font-size: calc(1rem + 1.5vw);
    
}
#gridtext{
    font-size: calc(0.1rem + 1.5vw);
    padding-bottom: 7%;
}
#clickgrid{
    background-color: #FFA500;
    color: white;
    border-radius: 3rem;
    border: none;
    font-weight: bolder;
    margin-bottom: 5%;
    padding: 0.5rem 0.5rem;
    
}
#clickgrid:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color:#ffffff;
        
}

.mobileapp{
    background-color: #FFA500;
    padding-top: 5%;
    display: grid;
    padding-bottom:  0;
    gap: 10px;
    width: 100%;
    
    grid-template-columns: 50% 50%;
}
.mobileapp_pic {
    overflow: hidden;
    text-align: center;
    position: relative;

}

.mobileapp_pic img {

    width: 80%;
   


}

.mobileapp_text {
    padding-right: 15%;
    padding-bottom: 30%;
    color: black;
     margin: auto;
    
    text-align: center;

}

.mobileapp_text h1{
    color: white;
    font-size: calc(1rem + 1.5vw);
    border: none;
    text-align: center;
    
}
 .mobileapp_text p{
    text-align: center;
    color: white;
 }

.mobileapp_text button {
    
    font-size: min(calc(100vw/30), 1.5rem);
    line-height: 150%;
    outline: none;
    
    min-height: 0.1rem;
    max-height: 10rem;
    min-width: 0.1rem;
    max-width: 10rem;
    background-color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bolder;    
    padding: 0.5rem 0.5rem;
    color:#FFA500;
    border: none;
    transition: 0.3s ease;
    
/* font-size: 2rem; */
}


.mobileapp_text button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(240, 240, 240) ;
    color: #452d00;
    transition: 0.3s;
    box-shadow: 0 0 5px white,
        0 0 5px white,
        0 0 5px white,
        0 0 5px white;
}




/* Footer  */

footer{
    position:absolute;
   
    background: black;
    height: auto;
    width: 100vw;
    padding-top:0;
    padding-bottom: 10px;
    color: yellow;
}
.footer-content {
    display: felx;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }



 