* {
	box-sizing: border-box;
	/* overflow: hidden; */
}

h1 {
	font-weight: bold;
}

h2 {
	text-align: center;
}
h4{
	text-align: center;
	font-weight: bold;
	bottom: 10%;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: black;
	font-size: 15px;
	text-decoration: none;
	margin: 15px ;
}

button {
	border-radius: 20px;
	border: 3px solid rgb(233, 233, 233);
	background-color: orange;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: background 0.5s;
}

button:active {
	transform: scale(0.95);
	background-color:white;
}



button.Sign {
	background-color: transparent;
	border-color: #FFFFFF;
	transition: background 0.5s;
}

button.Sign:active{
	background-color: white;
}

form {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: gray;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color: white;
	text-align: 20px;
}



.item13 .i1{
    background-color: orange;
    
   width: 500px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   
    
}

.item13 img{
    width: 30%;
    height: 30%
}

.containers555{
    height: 100vh;
width: 100vw;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    
}
.logo a{
	position: relative;
    top: -70px;
    left: -70px;
}
.logo{
    height: 50px;
    width: 50px;
}


@media(max-width: 700px){


    
.item13 .i1{
    background-color: orange;
    
   width: 300px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
    
}
.logo a{
	position: absolute;
	top: -50px;
    left: 30px;
}

    .containers555{
       
  
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

}

