* {
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Proxima Nova, Helvetica, Arial, sans-serif;
        text-decoration: none;

}

body {
    font-family: 'Lexend', serif;
    font-style: normal;
    background-image: url('../pics/injera.JPG');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
}
h1 {
    font-weight: bold;
}

h2 {
    text-align: center;
}
h4{
	text-align: center;
	font-weight: bold;
    margin-top: 1rem;
	bottom: 10%;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 20px 0 30px;

}
.item4 p{
        color: #282828;
            font-weight: bolder;
}

span {
    font-size: 12px;
}

.icon-login a {
	color: black;
	font-size: 15px;
    border-radius: 10rem;
	text-decoration: none;
	margin: 15px ;
}


form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: rgb(195, 185, 185);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color: white;
	text-align: 20px;
    border-radius: 0.4rem;
}
select {
    border-radius: 0.4rem;
    border: none;
    
    background-color: rgb(195, 185, 185);
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    color: #777777;

}
option{
    background-color: #ffffff;
}

.item1 {

    grid-area: item1;
}
.item1 a{
    color: #ffa500;
    background-color: white;


}

.item2{
    
    grid-area: item2;

}

.item3 {

    grid-area: item3;


}

.item3 {
    /* background-color: ; */
    filter: blur();
}

.item4 {

    grid-area: item4;
    background-color: white;
    box-shadow: 0 10px 10px rgb(185, 180, 180),
        0 10px 10px silver;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;


}

.item5{
    grid-area: item5;
    background-color:#ffa500;
  	box-shadow: 0 10px 10px gray, 
			    0 10px 10px silver;
	position: relative;
	overflow: hidden;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    padding: 0 40px;
    text-align: center;
    top: 0;

}
button.signup{
    border: none;
    outline: none;
    height: 2rem;
    width: 10rem;
    background-color: #ffa500;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
        padding: 0.5rem 0.5rem;
    color: white;
    transition: 0.3s ease;
    margin-top: 2rem;
    
}
button.signin {
    border: none;
    outline: none;
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1rem;


    padding: 0.5rem 0.5rem;
    color: white;
    transition: 0.3s ease;
}

.signin a {
    text-decoration: none;
    color: black;
    
}
.signin:hover{
    cursor: pointer;
        transform: scale(0.9);
        background-color: white;
        transition: 0.3s;
        box-shadow: 0 0 5px white,
            0 0 5px white,
            0 0 5px white,
            0 0 5px white;
}
.signup:hover {
    cursor: pointer;
    transform: scale(0.9);
    background-color: #FFA500;
    transition: 0.3s;
    box-shadow: 0 0 5px orange,
        0 0 5px orange,
        0 0 5px orange,
        0 0 5px orange;
}

.logo a {

    position: absolute;
    top: 30%;

}

.wrapper {
    height: 100vh;
    display: grid;
    padding: 10px;
    gap: 3px;
    grid-template-rows: .2fr 2fr 2fr;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-areas:
        'item1 item1 item2 item2'
        'item3 item3 item4 item5'
        'item3 item3 item4 item5'
    ;
}

@media(max-width: 1200px) {


    .wrapper {
        /* overflow: scroll; */
        height: 130vh;
        /* width: 100vh; */
        display: grid;
        padding: 10px;
        gap: 3px;
        grid-template-rows: .2fr 1fr 2fr 2fr 2fr 2fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            'item1'
            'item3'
            'item5'
            'item5'
            'item4'
            'item4'
        ;

    }



    .logo a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;



    }



    .item4 {

        grid-area: item4;
        background-color: white;
        box-shadow: 0 10px 10px gray,
            0 10px 10px silver;
        position: relative;
        /* overflow: scroll; */
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 80vh;

        ;

    }

    .item5 {

        grid-area: item5;
        background-color: #ffa500;
          box-shadow: 0 10px 10px gray, 
                    0 10px 10px silver;
        position: relative;
        overflow: hidden;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        ;

    }

}